main{
    padding: 1vw;
}

.fiche-vente-contenu{
    padding-bottom: 1vw;
}

.fiche-vente-contenu{
    padding-bottom:3vw;
}

.underline {
    text-decoration: underline;
  }

  header{
    background-position: center;
    background-size: cover;
}

.sectionproduit{
    margin-top: 7vw;
}


@media screen and (min-width:720px) {

    .fiche-vente{
        background-color : #F3F3F3;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 2vw;

        padding-top: 1vw;
    }

}